
.home-component{
  height: 50vw
}

.quiz-component{
  height: 50vw;
}

.result-component{
  height: 50vw;
}

.title{
  margin-top: 18vw;
  font-size: xx-large;
}

.question-box{
  background-color: rgb(164, 236, 212);
  height: 35vw;
  width: 65vw;
}

.textinbox{
  color: black;
  padding-top: 2vw;
}

div.options {
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4vw;
  grid-row-gap: 1vw;
}

div.page-turn-buttons{
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  justify-content: center;

}


#option{
  width: 90%;
  margin-left: 1.6vw;
  background-color: rgb(22, 92, 154);
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}









